.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 19px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 803px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  object-position: 58.76% 50%;
  width: 358px;
  height: 617px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 803px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 27px;
  font-weight: 700;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 464px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 19px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 371px;
  background-image: none;
  margin: 0 21px 0 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
  --radius: 9px;
}

.u-section-1 .u-input-2 {
  background-image: none;
  --radius: 9px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  --radius: 6px;
  padding: 10px 90px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -25px auto 0 172px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 765px;
    background-position: 58.76% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 600px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1014px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 404px;
    width: 226px;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 681px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  width: 403px;
  height: 398px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 2px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 320px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 533px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 985px;
}

.u-section-3 .u-group-1 {
  min-height: 985px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 2px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-image-1 {
  width: 800px;
  min-height: 250px;
  height: auto;
  background-image: url("static\images\download.png");
  background-position: 50% 23.77%;
  margin: 2px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 36px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 1030px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 660px;
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 2px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    margin-top: 31px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 1392px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    margin-top: 14px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 893px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  width: 602px;
  margin: 48px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 641px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 22px;
}

.u-section-4 .u-text-2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 32px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 22px;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 32px 0 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  margin: 27px 0 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-position: 50% 0vh;
  transform: rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 22px;
}

.u-section-4 .u-text-6 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 32px 0 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 579px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 115px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 13px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 888px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 582px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("static\images\747376.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 15px 76px 0 193px;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 92px 0 193px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("static\images\747376.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 15px 76px 0 193px;
}

.u-section-5 .u-text-7 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 92px 0 193px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 160px;
  height: 160px;
  background-image: url("static\images\747376.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 15px 76px 0 193px;
}

.u-section-5 .u-text-10 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 92px 0 193px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 160px;
  height: 160px;
  background-image: url("static\images\747376.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  margin: 15px 76px 0 193px;
}

.u-section-5 .u-text-13 {
  font-weight: 300;
  font-size: 1rem;
  margin: 15px 92px 0 193px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 480px;
  }

  .u-section-5 .u-image-1 {
    width: 141px;
    height: 141px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-image-2 {
    width: 141px;
    height: 141px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-image-3 {
    width: 141px;
    height: 141px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-image-4 {
    width: 141px;
    height: 141px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 309px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 735px;
  margin: 39px auto 0;
}

.u-section-6 .u-image-1 {
  --radius: 10px;
  width: 285px;
  height: 114px;
  margin: 33px auto 0 141px;
}

.u-section-6 .u-image-2 {
  width: 241px;
  height: 114px;
  margin: -114px 191px 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 0 722px 0 149px;
}

.u-section-6 .u-text-3 {
  margin: -56px 171px 15px 689px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 622px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 71px;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 270px;
    margin-left: 1px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -50px;
    margin-bottom: 56px;
    margin-left: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 230px;
    height: 68px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 207px;
    height: 82px;
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 269px;
    margin-top: -138px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin: 88px 30px 0;
  }
}