{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/bootstrap-icons.css" rel="stylesheet" />

  <link rel="stylesheet" href="static/css/slick.css" />

  <link href="static/css/tooplate-little-fashion.css" rel="stylesheet" />
  <link href="static/css/style.css" rel="stylesheet" />
  <style type="text/css">
    .logo-text {
      color: #000;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
      /* 183.333% */
    }

    .home-text {
      color: var(--Secondary-text, #525560);

      /* Paragraph */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 25.6px */
    }

    .text-heading {
      color: #000;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      /* 25.6px */
    }
  </style>
  <title>Crime Alert</title>
</head>

<body>
  <main>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="index.html">
          <img src="static/images/logo.png" class="img-fluid" alt="" />
          <span class="logo-text">CrimeAlert</span>
        </a>

        <div class="d-lg-none">
          <a href="sign-in.html" class="custom-icon me-3"></a>

          <a href="product-detail.html" class="custom-icon"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'TrainML' %}">
                <font size="3" color="black">Train ML False Reporting Algorithm</font>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=" {% url 'ViewReports' %}">
                <font size="3" color="black">View Submitted Tips Report</font>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=" {% url 'ViewUsers' %}">
                <font size="3" color="black">View Users List
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=" {% url 'ViewallFeedbacks' %}">
                <font size="3" color="black">View Feedback
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=" {% url 'index' %}">
                <font size="3" color="black">Logout
              </a>
            </li>
          </ul>


        </div>
      </div>
    </nav>
    {% block content %}
    <section class="slick-slideshow">
      <div class="slick-custom">
        <img src="static/images/BG-Image-2.png" class="img-fluid" alt="" />
      </div>
    </section>

    <section class="contact section-padding">
      <div class="container mt-3 card p-5">
        <h5 class="d-flex">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="72" height="3" viewBox="0 0 72 3" fill="none">
              <path d="M0 1.50006H72" stroke="#1D2130" stroke-width="2" />
            </svg></span><span>Thinking about Your Safety?</span>
        </h5>
        <font size="3" color="red">
          {{data|safe}}

  
        </font>
        <div class="row">

          <div class="col-4">
            <img src="static/images/image-2.PNG" class="img-fluid" alt="" />
          </div>

        </div>
      </div>
    </section>
  </main>
  {% endblock %}
  

  <!-- JAVASCRIPT FILES -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/Headroom.js"></script>
  <script src="static/js/jQuery.headroom.js"></script>
  <script src="static/js/slick.min.js"></script>
  <script src="static/js/custom.js"></script>
</body>

</html>